{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/game/all_games.css' %}">
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


<div class="content">

    <div class="text__content__box">
        <h1 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        Game Page
        </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>Odio quos perferendis sint exercitationem, expedita, placeat omnis culpa ex nemo doloribus <br>laudantium sequi eum? Iusto molestiae 
            modi deserunt officiis minima similique.</p>
    </div>


    <div class="all__box">
        

        {% for g in game %}
        <div class="box">
            <div class="top__box">
                <div class="img__box">
                    <a href="{% url 'view_game' g.id %}">
                        <img src="{{ g.img1.url }}">
                    </a>
                </div>
            </div>
            <div class="bot__box">
                <div class="left__bot__box">
                    <p>{{ g.title }}</p>
                </div>
                <div class="right__bot__box">
                    <div class="top__right__bot__box">
                        <div class="fav__box">
                            <a href="">
                                <ion-icon name="heart-outline" id="h" onmouseover="Heart()" onmouseout="HeartOutline()"></ion-icon>
                            </a>
                        </div>
                    </div>
                    <div class="bot_right__bot__box">
                        <p>{{ g.size }}GB</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}



    
    </div>

    

    
</div>

<script src="{% static 'js/game.js' %}"></script>
{% endblock %}