{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<header>
    <div class="left__header__box">
        <h1>Kavkaz Game</h1>
    </div>
    <div class="right__header__box">
        <div class="right__header__action__list__box">
            <li>
                <a href="{% url 'home' %}"><p>Home</p></a>
                <a href="{% url 'all_games' %}"><p>Games</p></a>
                <a href="{% url 'all_blogs' %}"><p>Blogs</p></a>
                <a href=""><p>Favorites</p></a>
            </li>
        </div>
        <div class="right__header__account__box">
            <a href="">
                <ion-icon name="person-circle-outline"></ion-icon>
            </a>
        </div>
    </div> 
</header>

<div class="space"></div>

{% block content %}{% endblock %}