*{
    box-sizing: border-box;
    text-decoration: none;
}


html{
    overflow-x: hidden;
}


body{
    background-color: #333333;
}


header{
    /* border: 1px solid #000; */
    display: flex;
    width: 102%;
    box-shadow: 1px 1px 5px #eee;
    /* border: 1px solid #eee; */
    margin-left: -1%;
    margin-top: -0.9%;
}


.left__header__box{
    /* border: 1px solid #000; */
    width: 50%;
    height: 100%;
}

.left__header__box h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.7lvh;
    margin-left: 2%;
    color: #eee;
}


.right__header__box{
    /* border: 1px solid #000; */
    width: 50%;
    /* height: 100%; */
    display: flex;
}

.right__header__action__list__box{
    /* border: 1px solid #000; */
    height: 100%;
    width: 70%;
}

.right__header__action__list__box li{
    display: flex;
    margin-left: 15%;
}

.right__header__action__list__box li a{
    margin-left: 10%;
    color: #eee;
}

.right__header__action__list__box li a:hover{
    text-decoration: underline;
}

.right__header__action__list__box li a p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3lvh;
    color: #eee;
}

.right__header__account__box{
    /* border: 1px solid #000; */
    height: 100%;
    width: 30%;
}

.right__header__account__box ion-icon{
    width: 100%;
    height: 100%;
    color: #eee;
    margin-left: 16%;
}

.space{
    /* border: 1px solid #000; */
    width: 100%;
    height: 15lvh;
}