*{
    box-sizing: border-box;
    text-decoration: none;
}


html{
    overflow-x: hidden;
}


body{
    background-color: #333333;
}


.title{
    /* border: 1px solid #eee; */
    width: 100%;
    height: 15lvh;
}

.title h1{
    font-size: 8lvh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color:rgb(12, 75, 212);
    margin-top: 0%;
    cursor: default;
}

.content{
    /* border: 1px solid #dc0808; */
    margin-top: 10%;
    width: 100%;
    /* height: 45lvh; */
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10lvh;
}

.box{
    /* border: 1px solid #c2c1c1; */
    /* width: 100%; */
    height: 22lvh;
    display: flex;
}

.box:hover img{
    opacity: 50%;
}

.box:hover h1{
    color: #fff
}

.img__box{
    /* border: 1px solid #4b77; */
    height: 100%;
    width: 20%;
}

.img__box img{
    width: 100%;
    height: 100%;
    transition: 0.5s all;
}

.text__box{
    /* border: 1px solid #eee; */
    height: 100%;
    width: 80%;
}

.title__box{
    /* border: 1px solid #ffffff; */
    width: 100%;
    height: 50%;
}

.title__box h1{
    color: #eee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5lvh;
    margin-left: 1%;
    margin-top: 0%;
}


.bot__box{
    /* border: 1px solid #ffffff; */
    width: 100%;
    height: 50%;
    display: flex;
}

.desc__box{
    /* border: 1px solid #eee; */
    height: 100%;
    width: 80%;
}

.desc__box p{
    color: #eee;
    font-family: sans-serif;
    font-size: 2.7lvh;
    margin-left: 1.5%;
}


.date__box{
    /* border: 1px solid #eee; */
    height: 100%;
    width: 20%;
}