*{
    box-sizing: border-box;
    text-decoration: none;
}


html{
    overflow-x: hidden;
}


body{
    background-color: #333333;
}


header{
    /* border: 1px solid #000; */
    display: flex;
    width: 102%;
    box-shadow: 1px 1px 5px #eee;
    /* border: 1px solid #eee; */
    margin-left: -1%;
    margin-top: -0.9%;
}


.left__header__box{
    /* border: 1px solid #000; */
    width: 50%;
    height: 100%;
}

.left__header__box h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.7lvh;
    margin-left: 2%;
    color: #eee;
}


.right__header__box{
    /* border: 1px solid #000; */
    width: 50%;
    /* height: 100%; */
    display: flex;
}

.right__header__action__list__box{
    /* border: 1px solid #000; */
    height: 100%;
    width: 70%;
}

.right__header__action__list__box li{
    display: flex;
    margin-left: 15%;
}

.right__header__action__list__box li a{
    margin-left: 10%;
    color: #eee;
}

.right__header__action__list__box li a:hover{
    text-decoration: underline;
}

.right__header__action__list__box li a p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3lvh;
    color: #eee;
}

.right__header__account__box{
    /* border: 1px solid #000; */
    height: 100%;
    width: 30%;
}

.right__header__account__box ion-icon{
    width: 100%;
    height: 100%;
    color: #eee;
    margin-left: 16%;
}

.space{
    /* border: 1px solid #000; */
    width: 100%;
    height: 15lvh;
}

.content{
    /* border: 1px solid #000; */
    width: 100%;
}

.text__content__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 30lvh;
}

.text__content__box h1, .text__content__box p{
    text-align: center;
    color: #eee;
}


.all__box{
    /* border: 1px solid #000; */
    width: 100%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    row-gap: 10lvh;
}

.box{
    /* border: 1px solid #000; */
    height: 50lvh;
}

.top__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 65%;
}

.img__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 100%;
}

.img__box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: 1s all;
}

.img__box img:hover{
    opacity: 50%;
}

.bot__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 35%;
    display: flex;
    cursor: default;
}

.left__bot__box{
    /* border: 1px solid #000; */
    height: 100%;
    width: 50%;
}

.left__bot__box p{
    color: #eee;
    font-size: 4lvh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0%;
}


.right__bot__box{
    /* border: 1px solid #000; */
    height: 100%;
    width: 50%;
}

.top__right__bot__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 50%;
}

.fav__box{
    /* border: 1px solid #000; */
    height: 100%;
    width: 50%;
    float: right;
}

.fav__box ion-icon{
    /* border: 1px solid #000; */
    color: #eee;
    height: 100%;
    width: 50%;
    float: right;
}

.fav__box ion-icon:active{
    color: rgb(158, 15, 15)
}

.bot__right__bot__box{
    /* border: 5px solid #000; */
    width: 100%;
    height: 50%;
}

.bot_right__bot__box p{
    font-size: 3lvh;
    font-family: sans-serif;
    color: #eee;
    float: right;
}