*{
    box-sizing: border-box;
    text-decoration: none;
}


html{
    overflow: hidden;
}

body{
    background-color: #eee;
}

.video__box{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    margin-left: -0.65%;
    margin-top: -0.65%;
    z-index: 1;
}


.video__box video{
    max-width: 120%;
    max-height: 120%;
}


.content{
    border: 1px solid #eee;
    border-radius: 15px;
    position: absolute;
    width: 33%;
    height: 77%;
    z-index: 2;
    margin-left: 33%;
    margin-top: 2%;
    backdrop-filter: blur(0.6lvh);
}

.top__box{
    /* border: 1px solid #eee; */
    width: 100%;
    height: 25%;
}

.top__box h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 6lvh;
    margin-top: 7%;
    color: #eee;
}

.mid__box{
    /* border: 3px solid #8d0b0b; */
    width: 100%;
    height: 65%;
}


.input__box{
    /* border: 3px solid #157d45; */
    width: 100%;
    height: 100%;
}


.username-box{
    /* border: 1px solid #eee; */
    width: 100%;
    height: 33%;
}
.password1-box{
    /* border: 1px solid #eee; */
    width: 100%;
    height: 33%;
}
.password2-box{
    /* border: 1px solid #eee; */
    width: 100%;
    height: 33%;
}

.title-input{
    /* border: 1px solid #eee; */
    width: 100%;
    height: 35%;
}

.title-input p{
    color: #eee;
    font-family: sans-serif;
    font-size: 3lvh;
    margin-top: 3%;
    margin-left: 3%;
    cursor: default;
}

.input{
    /* border: 1px solid #eee; */
    width: 100%;
    height: 65%;
    display: flex;
}


.input input{
    background-color: transparent;
    font-size: 3.5lvh;
    color: #eee;
    height: 4lvh;
    margin-left: 1%;
    margin-top: 5%;
    outline: none;
    border: none;
    border-bottom: 2px solid #eee;
}

.left__input__box{
    /* border: 1px solid #eee; */
    width: 80%;
    height: 100%;
}

.right__input__box{
    /* border: 1px solid #eee; */
    width: 20%;
    height: 100%;
}


.right__input__box ion-icon{
    width: 50%;
    height: 50%;
    color:#eee;
    margin-top: 20%;
}


.login__link{
    /* border: 1px solid #eee; */
    border-radius: 15px;
    position: absolute;
    width: 40%;
    height: 16%;
    z-index: 2;
    margin-left: 30%;
    margin-top: 41.5%;
    /* backdrop-filter: blur(6px); */
}

.button__box{
    /* border: 1px solid #eee; */
    width: 100%;
    height: 65%;
}

.button__box button{
    color: #eee;
    width: 20%;
    height: 52%;
    font-size: 3lvh;
    font-family: sans-serif;
    background-color: rgb(8, 93, 211);
    border: none;
    border-radius: 7px;
    margin-left: 40%;
    margin-top: 3%;
    cursor: pointer;
}

.link__box{
    /* border: 1px solid #eee; */
    width: 100%;
    height: 35%;
    display: flex;
}

.rgb-text{
    font-family: sans-serif;
    font-size: 3lvh;
    margin-top: 1%;
    margin-left: 5%;
}

.p1{
    font-family: sans-serif;
    font-size: 3lvh;
    margin-left: 2%;
    margin-top: 1%;
    color:#eee;
}

.p1 a{
    color:#eee;
}

.p1 a:hover, .p1:hover{
    color:rgb(25, 211, 12);
    font-size: 3.5lvh;
    margin-top: 0.6%;
}