@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
margin: 0;
padding: 0;
background-color: #333333;
}

header{
    border: 1px solid #ffffff;
    width: 100%;
    height: 15%;
    display: flex;
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
  
}

.left__header__logo{
    float: left;
    /* border: 1px solid #000; */
    height: 100%;
    width: 50%;
    
}
.left__header__logo h1{
    margin-left: 3%;
}
.right__header__theme{
    float: right;
    /* border: 1px solid #000; */
    height: 100%;
    width: 50%;
    
}
li{
    text-decoration: none;
    display: flex;
    margin-left: 40%;
   
}

p{
    margin: 2lvh;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 3lvh;
    
   
}

a{
    text-decoration: none;
    margin-top: 2.5%;
}


/* ------------------------------------------------------------------------- */
/* img__mid__1 */



.title__mid{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white ;
}

.text__mid{
    text-align: center;
    font-size: 2.3lvh;
    font-family: sans-serif;
    color: white;
}




.text__mid__2{

  margin-top: 8%;
  text-align: center;
  font-family: 'Lora', serif;
  color: #ffffff;

    
}
    



/* ------------------------------------------------------------------------ */
/* img__mid__2 */



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}