.content{
    /* border: 1px solid #000; */
    width: 100%;
}

.text__content__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 30lvh;
}

.text__content__box h1, .text__content__box p{
    text-align: center;
    color: #eee;
}


.all__box{
    /* border: 1px solid #000; */
    width: 100%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    row-gap: 10lvh;
}

.box{
    /* border: 1px solid #000; */
    height: 50lvh;
}

.top__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 65%;
}

.img__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 100%;
}

.img__box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: 1s all;
}

.img__box img:hover{
    opacity: 50%;
}

.bot__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 35%;
    display: flex;
    cursor: default;
}

.left__bot__box{
    /* border: 1px solid #000; */
    height: 100%;
    width: 50%;
}

.left__bot__box p{
    color: #eee;
    font-size: 4lvh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0%;
}


.right__bot__box{
    /* border: 1px solid #000; */
    height: 100%;
    width: 50%;
}

.top__right__bot__box{
    /* border: 1px solid #000; */
    width: 100%;
    height: 50%;
}

.fav__box{
    /* border: 1px solid #000; */
    height: 100%;
    width: 50%;
    float: right;
}

.fav__box ion-icon{
    /* border: 1px solid #000; */
    color: #eee;
    height: 100%;
    width: 50%;
    float: right;
}

.fav__box ion-icon:active{
    color: rgb(158, 15, 15)
}

.bot__right__bot__box{
    /* border: 5px solid #000; */
    width: 100%;
    height: 50%;
}

.bot_right__bot__box p{
    font-size: 3lvh;
    font-family: sans-serif;
    color: #eee;
    float: right;
}