{% extends 'base.html' %}

{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/blog/all_blogs.css'%}">
</head>


<div class="title"><h1>Blog</h1></div>

<div class="content">

    {% for b in blog %}
    <a href="">
        <div class="box">
            <div class="img__box">
                <img src="{{ b.img.url }}">
            </div>
            <div class="text__box">
                <div class="title__box">
                    <h1>{{ b.title }}</h1>
                </div>
                <div class="bot__box">
                    <div class="desc__box">
                        <p>{{ b.description|truncatechars:90 }}</p>
                    </div>
                    <div class="date__box">
                        <p>{{ b.date }}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}

</div>

{% endblock %}